{% extends 'base.html' %}

{% block content %}
    <!-- On redirige notre formulaire vers la vue update-quantities -->
    <form method="POST" action="{% url 'store:update-quantities' %}">
        {% csrf_token %}
        <!-- Très important -->
        {{ forms.management_form }}
        {% for form in forms %}
            <div>
                <h3>{{ form.instance.ticket.name }}</h3>
                <img src="{{ form.instance.ticket.thumbnail_url }}" alt="Image du billet" style="max-width: 200px">
                <p>{{ form.as_p }}</p>
            </div>
        {% endfor %}
        <button type="submit">Mettre à jour les quantités</button>
    </form>

    <form action="{% url 'store:create-checkout-session' %}" method="post">
        {% csrf_token %}
        <button type="submit">Procéder au paiement</button>
    </form>

    <a href="{% url 'store:delete-cart' %}">Supprimer le panier</a>
{% endblock %}