{% extends 'base.html' %}

{% block content %}

    {% for order in orders %}
        <h2>{{ order.ticket.name }}</h2>
        <img src="{{ order.ticket.thumbnail.url }}" alt="{{ order.ticket.type_of_ticket }}" style="max-width: 250px;">
        <p>{{ order.quantity }} dans le panier</p>
    {% endfor %}

    <form action="{% url 'create-checkout-session' %}" method="post">
        {% csrf_token %}
        <button type="submit">Procéder au paiement</button>
    </form>

    <a href="{% url 'delete-cart' %}">Supprimer le panier</a>
{% endblock %}