{% extends 'base.html' %}

{% block content %}

    {% for sport in sports %}
        <h2>{{ sport.name }}</h2>
        <p>{{ sport.description }}</p>
        <img src="{{ sport.thumbnail.url }}" alt="{{ sport.name }}" style="max-width: 250px">
        <a href="{% url 'sports:all-sports' %}">Voir plus</a>
    {% endfor %}
    <!-- On boucle à travers les billets de la base de données -->
    <!-- alt correspond à la description de l'image -->
    {% for ticket in tickets %}
        <h2>{{ ticket.type_of_ticket }}</h2>
        <img src="{{ ticket.thumbnail_url }}" alt="{{ ticket.type_of_ticket }}" style="max-width: 250px;">
        <a href="{{ ticket.get_absolute_url }}">Voir l'offre</a>
    {% endfor %}

{% endblock %}