{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Section présentation des Jeux -->
    <section class="relative bg-SubtleBackground px-4 pt-20 pb-40 text-center text-HighContrastText sm:pb-80 md:pt-10">
        <h2 class="text-center text-clampMd text-HighContrastText pt-10 pb-15 sm:pt-40 md:pb-10">Présentation des Jeux
            Olympiques</h2>
        <p>La cérémonie de passation de la flamme olympique est organisée au Stade panathénaïque à Athènes, le site où
            les Jeux Olympiques d'Athènes 1896, les premiers de l'ère moderne, ont été lancés. Lors de celle-ci, la
            flamme olympique est remise à une délégation représentant le pays hôte des Jeux Olympiques, soit cette
            année, la France.

            Cette cérémonie marque la fin du relais de 11 jours de la flamme olympique à travers la Grèce. Il avait
            commencé le 16 avril lorsque la flamme olympique de Paris 2024 a été allumée lors d'une cérémonie sur le
            site archéologique d'Olympie : le lieu de naissance des Jeux Olympiques antiques.

            Après l'entrée de la flamme dans le stade, le dernier relayeur (Ioannis Fountoulis, médaillé d'argent en
            water-polo aux Jeux de Tokyo 2020) allumera une vasque, à partir duquel la « grande prêtresse » allumera une
            dernière torche et la transmettra au président du Comité olympique hellénique, Spyros Capralos, qui la
            remettra à son tour au comité d'organisation des Jeux Olympiques et Paralympiques de Paris 2024.

            Ce geste marque le point culminant du relais de 11 jours à travers la Grèce, mais également le début du
            compte à rebours pour la cérémonie d'ouverture des Jeux Olympiques Paris 2024 le 26 juillet 2024.

        </p>
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <img src="{% static 'Logos/arrow-down.svg' %}" alt="svg flèche du bas"
                 class="animate-bounce bg-UIElementBackground p-2 w-2 h-2 ring-1 ring-SubtleBordersandSeparators shadow-lg rounded-full flex items-center justify-center sm:w-16 sm:h-16"></img>
        </div>

        <!-- Section image de Paris -->

    </section>

    <section class="relative">
        <div class="h-80 w-full relative overflow-hidden">
            <img src="{% static 'img/JOlandingPage.jpg' %}" alt="Image Paris"
                 class="w-full h-full object-cover object-center">
        </div>
    </section>

    <!-- Section aperçu des sports -->


    <section class="relative bg-AppBackground pt-20 pb-20 px-4 md:pt-10 md:pb-10">
        {% for sport in sports %}
            <h2 class="pt-10 pb-10 md:pt-5 md:pb-5 text-center text-HighContrastText text-clampSm">{{ sport.name }}</h2>
            <p class="text-center text-clampUsm text-HighContrastText">{{ sport.description }}</p>
            <img src="{{ sport.thumbnail.url }}" alt="{{ sport.name }}"
                 class="mx-auto rounded-full w-80 h-80 object-cover object-center border-UIElementBorderAndFocusRings pt-10 pb-10">
            <a href="{% url 'sports:all-sports' %}"
               class="block mx-auto text-center justify-center items-center text-clampUsm text-HighContrastText hover:text-LowContrastText pt-5">Voir
                plus</a>
        {% endfor %}
    </section>
    <!-- On boucle à travers les billets de la base de données -->
    <!-- alt correspond à la description de l'image -->

    <!-- Section offres disponibles -->

    <section class="relative bg-SubtleBackground pt-20 pb-20 px-4 md:pt-10 md:pb-10">
        <h1 class="text-clampMd text-center mt-40 font-bold text-HighContrastText">Offres</h1>
        <hr class="w-1/4 mt-5 mx-auto border-HighContrastText">
        <p class="mt-5 text-clampSm text-HighContrastText">Voici les offres disponibles pour chaque sports aux Jeux
            Olympiques</p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for ticket in tickets %}
            <div class="mt-8 flex flex-wrap justify-center items-center flex-col md:flex-row">
                <div class="min-h-[450px] w-72 flex flex-col shadow-md ring-1 ring-UIElementBorderAndFocusRings border border-UIElementBorderAndFocusRings hover:border-HoveredUIElementBorder rounded-lg mt-7 mx-4 px-6 py-4 text-left hover:bg-HoveredUIElementBackground">
                    <div class="mb-5 ">
                        <h2 class="text-2xl font-bold text-HighContrastText">{{ ticket.type_of_ticket }}</h2>
                        <p class="text-md text-LowContrastText">Détail de l'offre</p>
                        <p class="mt-2">
                            <span class="text-4xl font-extrabold text-HighContrastText">{{ ticket.price }}</span>
                            <span class="font-medium text-HighContrastText">/par personne</span>
                        </p>
                        <p class="text-xs font-medium text-LowContrastText tracking-wide uppercase">Inclus :</p>
                    </div>
                    <div class="flex flex-grow flex-col">
                        <ul>
                            <li class="flex space-x-3 py-2">
                                <img src="{% static 'Logos/check-circled.svg' %}" alt="Icone check" class="w-5">
                                <span class="text-sm text-HighContrastText">Lorem ipsum sit amet</span>
                            </li>
                            <li class="flex space-x-3 py-2">
                                <img src="{% static 'Logos/check-circled.svg' %}" alt="Icone check" class="w-5">
                                <span class="text-sm text-HighContrastText">Lorem ipsum sit amet</span>
                            </li>
                            <li class="flex space-x-3 py-2">
                                <img src="{% static 'Logos/check-circled.svg' %}" alt="Icone check" class="w-5">
                                <span class="text-sm text-HighContrastText">Lorem ipsum sit amet</span>
                            </li>
                            <li class="flex space-x-3 py-2">
                                <img src="{% static 'Logos/check-circled.svg' %}" alt="Icone check" class="w-5">
                                <span class="text-sm text-HighContrastText">Lorem ipsum sit amet</span>
                            </li>
                        </ul>
                        <a href="{{ ticket.get_absolute_url }}" class="mt-auto block w-full bg-UIElementBorderAndFocusRings text-HighContrastText text-center shadow-md ring-1 ring-HoveredUIElementBorder rounded-lg">Voir l'offre</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>


{% endblock %}