{% extends 'base.html' %}
{% block content %}

    <section class="bg-SubtleBackground pb-32 md:pb-40">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-center">
            <div class="md:w-1/2 mt-40">
                <img src="{{ ticket.thumbnail_url }}" alt="{{ ticket.type_of_ticket }}" style="max-width: 250px; border-radius: 10px;">
            </div>
            <div class="md:w-1/2 md:ml-10">
                <h1 class="text-center text-HighContrastText font-medium pt-10 pb-6 text-3xl md:text-4xl">
                    Billeterie</h1>
                <hr class="bloc mx-auto bg-HighContrastText h-1 mb-10 w-44">
                <h2 class="text-center text-HighContrastText font-medium pt-6 pb-4 text-3xl md:text-2xl">{{ ticket.name }}</h2>
                <p class="text-center text-md text-HighContrastText pt-6 pb-4 sm:pt-15 md:pb-2">{{ ticket.description }}</p>
                <h3 class="text-center text-md text-HighContrastText pt-6 pb-4 sm:pt-5 md:pb-2">{{ ticket.price }} euros</h3>
                <p class="text-center text-md text-HighContrastText pt-6 pb-4 sm:pt-5 md:pb-2">{{ ticket.quantity }} billets toujours disponibles</p>
                {% if user.is_authenticated %}
                    <p class="text-center pt-6 pb-4 sm:pt-5 md:pb-2">
                        <a href="{% url 'store:add-to-cart' ticket.slug %}" class="shadow-md px-6 py-2 border ring-SubtleBordersandSeparators font-medium rounded-md text-HighContrastText hover:bg-UIElementBackground hover:text-LowContrastText bg-SubtleBackground text-center w-40">Ajouter les billets au panier</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
