{% extends 'base.html' %}

{% block content %}

    <section class="relative bg-SubtleBackground px-4 pt-20 pb-40 text-center text-HighContrastText sm:pb-80 md:pt-10">

        <h2 class="text-center text-HighContrastText font-medium pt-10 pb-6 text-3xl md:text-4xl">
            Se connecter
        </h2>
        <hr class="bloc mx-auto bg-HighContrastText h-1 mb-10 w-44">

        <form method="post"
              class="space-y-6 relative bg-AppBackground max-w-3xl mx-auto py-16 px-4 sm:px-6 lg:px-8 xl pl-12 ring-2 ring-HoveredUIElementBorder shadow-md border-HoveredUIElementBorder rounded-lg">
            {% csrf_token %}

            <div>
                <label for="username" class="text-HighContrastText mb-2 block">Nom d'utilisateur</label>
                <input type="text" id="username" name="username"
                       class="block w-full ring-1 ring-UIElementBorderAndFocusRings hover:border-HoveredUIElementBorder shadow-sm py-3 px-4 border-UIElementBorderAndFocusRings rounded-md">
            </div>

            <div>
                <label for="password" class="text-HighContrastText mb-2 block">Mot de passe</label>
                <input type="password" id="password" name="password"
                       class="block w-full ring-1 ring-UIElementBorderAndFocusRings hover:border-HoveredUIElementBorder shadow-sm py-3 px-4 border-UIElementBorderAndFocusRings rounded-md">
            </div>

            <button type="submit"
                    class="shadow-md px-6 py-2 border ring-SubtleBordersandSeparators font-medium rounded-md text-HighContrastText hover:bg-UIElementBackground hover:text-LowContrastText bg-SubtleBackground text-center w-40">
                Connexion
            </button>
        </form>

    </section>

{% endblock %}