{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PARIS 2024</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-300">
<!-- On récupère l'url à partir du name indiquer dans le fichier urls.py -->
<a href="{% url 'index' %}">
    <h1 class="text-5xl text-center pt-4">PARIS 2024</h1>
</a>
<!-- On affiche le bouton pour s'inscrire seulement si l'utilisateur n'est pas connecté -->
<!-- user et is_authenticated sont disponibles par défault -->
{% if user.is_authenticated %}
    <p>Bonjour {{ user.username }}, vous êtes connecté!</p>
    <a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
    <a href="{% url 'login' %}">Connexion</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
{% endif %}

<!-- Relation OneToOne, le panier de l'utilisateur est donc retourné -->
<!-- Affiche le panier utilisateur seulement si il n'a pas déjà été commandé -->
{% if user.cart and not user.cart.ordered %}
    <p>
        <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
    </p>
{% endif %}
{% block content %}
{% endblock %}

</body>
</html>