{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PARIS 2024</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
          rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
<!-- On récupère l'url à partir du name indiquer dans le fichier urls.py -->
<a href="{% url 'index' %}">
    <h1 class="text-clampLg text-center pt-6 text-HighContrastText">PARIS 2024</h1>
</a>
<!-- On affiche le bouton pour s'inscrire seulement si l'utilisateur n'est pas connecté -->
<!-- user et is_authenticated sont disponibles par défault -->
{% if user.is_authenticated %}
    <p class="text-8xl">Bonjour {{ user.email }}, vous êtes connecté!</p>
{% endif %}

<!-- Relation OneToOne, le panier de l'utilisateur est donc retourné -->
<!-- Affiche le panier utilisateur seulement si il n'a pas déjà été commandé -->
{% if user.cart and not user.cart.ordered %}
    <p>
        <a href="{% url 'store:cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
    </p>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>